@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@layer utilities{
    @keyframes swipe {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-100%);
        }
        50% {
          transform: translateX(-200%);
        }
        75% {
          transform: translateX(-100%);
        }
        
      }
      
      .animate-swipe {
        animation: swipe 10s ease-out infinite;
        
      }
      
}
@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
  
}
@layer utilities{
  .profile-style:hover {
     scale: 1.2;
     transition-duration: 1s;
     cursor: pointer;
  }
   .profile-animation {
     animation: moveLeft 300ms ease-in forwards;
   }
  @keyframes moveLeft{
    0% { transform: translate(30%,-40%);}
   
    100% {transform:  translateX(0);} 
    
   }
   .btn{
    display: flex;
    background: #000;
    color:white;
    justify-content: center;
    align-items: center;
   
   }
   .btn:hover{
    scale: 1.1;
    transition-duration: 1s;
    background: #151516;
   }
}
